<!doctype html>
 <html>
  <head>
   <meta charset="utf-8" />
   <meta name="keywords" content="oft, офт, металлообработка, обработка, токарка, токарная обработка, фрезерование, порезка, покраска, киев, изделия из металла, обработка деталей, изготовление заготовок" />
   <meta name="description" content ="Вы можете заказать у нас обработку и изготовление деталей любой сложности. Мы работаем с ведущими машиностроительными предприятиями Украины и рады выполнить Ваш заказ в кратчайшие сроки" />
   <meta name="robots" content="index, follow" />
   <meta name="rights" content="S. Khvalinsky (Django, AngularJS), A. Devitsky (HTML5, CSS3)" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   <!--<meta name="google-site-verification" content="e6Stua904nMQXLb8ncUUXROjOCLNEG6heKeR6OG-kS4" />
   <meta name="yandex-verification" content="a748d837dc8d270e" />-->
   <title>OFT-Наши контакты</title>
   <link href="/static/style.css" type="text/css" rel="stylesheet" />
   <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
   <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
        <script type="text/javascript" src="/static/js/angular/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/ngMask/ngMask.min.js"></script>
        <script type="text/javascript" src="/static/js/formProcessor.js"></script>
   <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/js/html5.js"></script>
   <![endif]-->
   <!-- Google Analytics -->
   <!--<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-88777928-1', 'auto');
    ga('send', 'pageview');
   </script>
   <!-- //Google Analytics -->
   <!-- Yandex.Metrika counter -->
    <!--<script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter41481579 = new Ya.Metrika({
                        id:41481579,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/41481579" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
   <!-- /Yandex.Metrika counter -->
  </head>
  <body>
    <div class="start"></div>
    <ul class="bg">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <header>
      <div id="logo" >
        <a href="/"><img src="/static/images/logo.png" alt="" /><p>OFT</p></a>
      </div>
      <nav id="menu" >
        <ul >
            <li><a  href="/">Главная</a></li>
              <li class="sub">
                <a >Наши услуги</a>
                <ul class="submenu">
                    <li><a  href="/turning/">Токарка</a></li>
                    <li><a  href="/milling/">Фрезеровка</a></li>
                    <li><a  href="/cutting/">Резка</a></li>
                    <li><a  href="/painting/">Покраска</a></li>
                </ul>
              </li>
            <li><a class="active" href="/contacts/">Контакты</a></li>
        </ul>
      </nav>
      <div id="mobile">
        <div id="mobile_logo">
          <a href="/"><img src="/static/images/logo.png" alt="" /><p>OFT</p></a>
        </div>
        <nav id="dropdown">
          <div class="menu_icon">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
          <div class="dropdown-menu">
            <ul class="dropdown-ul">
              <div class="close-li"> 
                      <li >
                        <a href="/
                          ">
                            Главная
                        </a>
                      </li>
                      <li >
                          <a href="/turning/">Токарка</a>
                      </li>
                      <li >
                          <a href="/milling/">Фрезеровка</a>
                      </li>
                      <li >
                          <a href="/cutting/">Резка</a>
                      </li>
                      <li >
                          <a href="/painting/">Покраска</a>
                      </li>
                      <li class="active">
                        <a href="/contacts/">
                            Контакты
                        </a>
                      </li>
              </div>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <h1 class="animtext serv">Наши контакты</h1>
      <hr class="contacts_hr">
      <section class="content contacts">
        <div class="contacts_screw cont_screw_tl"></div>
        <div class="contacts_screw cont_screw_tr"></div>
        <div class="contacts_screw cont_screw_br"></div>
        <div class="contacts_screw cont_screw_bl"></div>
        <div id="content-cell">
          <p>Мы принимаем заказы по Киеву и всей Украине!</p>
          <p>Связаться с нами Вы можете позвонив, либо заполнив форму обратной связи. Вы также можете прикрепить файлы к форме обратной связи в следующих расширениях: *.jpg, *.jpeg, *.png, *.gif.</p>          
          <p class="noindent"><span>E-mail:</span></p>
          <a href="mailto:oft-office@ukr.net">oft-office@ukr.net</a>
        </div>
        <div id="content-form">
            <form id="feedback-form" method="post" enctype="multipart/form-data" action=""
                  ng-app="validate"  ng-controller="validateCtrl" name="validForm" novalidate>
                <input type='hidden' name='csrfmiddlewaretoken' value='vARif15lXV24XqRaSd5VxxgEyKCQCo0XAQ3D2WZ1GGQ6H9DsMU11uikmMr7refb4' />
                    <p class="contacts_form">Ваше имя:
                        <span class="error">* </span></p>
                    <input class="box" id="id_u_name" maxlength="25" minlength="3" name="u_name" ng-model="contact.u_name" placeholder="Имя" type="text" required />
                        <span class="error" ng-show="validForm.u_name.$touched && validForm.u_name.$invalid">
                            <span ng-show="validForm.u_name.$error.required">Введите Ваше имя.</span>
                        </span>
                    <p class="contacts_form">E-mail для связи:
                        <span class="error">* </span></p>
                    <input class="box email-check" id="id_from_email" minlength="6" name="from_email" ng-model="contact.from_email" placeholder="Адрес электронной почты" type="email" required />
                        <span class="error" ng-show="validForm.from_email.$touched && validForm.from_email.$invalid">
                            <span ng-show="validForm.from_email.$error.required">Введите email.</span>
                            <span ng-show="validForm.from_email.$error.isVerified">Неправильный email.</span>
                        </span>
                    <p class="contacts_form">Телефон:
                        </p>
                    <input class="box" id="id_u_tel" mask="(999) 999-9999" minlength="7" name="u_tel" ng-model="contact.u_tel" placeholder="(XXX) XXX-XXXX" type="text" />
                    <p class="contacts_form">Ваше сообщение:
                        <span class="error">* </span></p>
                    <textarea class="box" cols="40" id="id_message" name="message" ng-model="contact.message" rows="5" required>
</textarea>
                        <span class="error" ng-show="validForm.message.$touched && validForm.message.$error.required">
                            Введите Ваше сообщение.
                        </span>
                    <p class="contacts_form">Выберите изображения для загрузки (не более 3-х).
                        </p>
                    <input accept="image/jpeg,image/png,image/jpg,image/gif" class="box" id="id_image" is-changed="contact.image" name="image" type="file" multiple />
                        <p class="contacts_form">Не более 2.5 Мб каждое.</p>
                        <p class="error" ng-show="isSet()">{{ errorMsg }}</p>
                <p class="error-text">* обязательные поля</p>
                <div class="submit">
                    <input type="submit" ng-hide="validForm.$invalid" value="Отправить">
                    <input type="submit" style="background-color: #FF0000; background: linear-gradient( to top right, rgba(153, 0, 0, .9), rgba(153, 0, 0, .8), rgba(153, 0, 0, .7), rgba(153, 0, 0, .6) );
                                                color: grey; cursor: wait;" ng-show="validForm.$invalid" ng-disabled="validForm.$invalid" value="Заполните форму">
                </div>
            </form>
        </div>
      </section>
    </main>
    <footer >
      <p>© 2016<a href="/"> OFT.</a> Designed by Alexander Devitsky</p>
    </footer>
    <script type="text/javascript" src="/static/js/adapfont.js"></script>
    <script type="text/javascript" src="/static/js/dropdown-menu.js"></script>
  </body>
 </html>
